<mat-card class="first">
  <img mat-card-image src="assets/tunisie.jpg"/>
    <h1>bonjour</h1>
    <h2>bienvenue a notre agence de voyage "Best Travel Tunisia"</h2> 
        <h2>ou nous vous offrons les meilleurs offres d'hotel a travers toutes la tunisie</h2>
        <h2>en cas ou vous voulez nous contacter tout nos coordone sont just en bas</h2>
</mat-card>
<mat-card class="second">
    <h1 class="black">envoyer nous un mail:</h1>
   <div class="centerd">
    <div>

   
        <mat-form-field>
          <input type="text" matInput placeholder="nom" formControlName="nom">
        </mat-form-field>
      

    
        <mat-form-field>
          <input type="text" matInput placeholder="prenom" formControlName="prenom">
        </mat-form-field>
       
      </div>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="adresse email" formControlName="mail">
        </mat-form-field>
       </p>
       <p> 
        <mat-form-field>
            <input type="text" matInput placeholder="votre message" formControlName="message">
          </mat-form-field>
       </p>    
          <button type="submit" mat-raised-button color="primary" margin-left="45%" > envoyer </button>
   </div>  
</mat-card>
