p{position:flex;}
.sm{position: flex;}
h1{color:white;
position: center;
margin-left :30%}
h2{color:white;
position:center;
    margin-left:30%}
.first{background-color:#673AB7;}
.black{color:white;}
button{margin-left: 45%;}
.centerd{margin-left:45%
border=1px solid white;}
.second{background-color: #673AB7;;
margin-top:5px }