<mat-card>
  
 
    <button mat-raised-button color="primary" class="ajout" (click)="ajouter()" >ajouter</button>
    <div class="d-flex flex-row flex-wrap">
     
        
        <mat-card class="example-card article-mat-card " *ngFor="let h of hotel">
            
            <img mat-card-image [src]="h.photo" >
            <mat-card-content>
                <ul>
                    <li>region:{{h.region}}</li>
                    <li>nom:{{h.nom}}</li>
                    <li>prix par nuit:{{h.prix}}</li>
                    <li><p *ngIf="h.promotion==true">en promotion</p></li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
             
              <button mat-raised-button color="primary" (click)="modifier(h)">modifier</button>
              <button mat-raised-button color="warn" >suprimer</button>
            </mat-card-actions>
          </mat-card>
        
    </div>
    
    
    </mat-card>
