<h1>Formulaire d'ajout</h1>
<form  [formGroup]="ajout" (ngSubmit)="onSubmitForm()" >
    <p>
    <mat-form-field>
      <input type="text" matInput placeholder="region" formControlName="region" name='region' >
    </mat-form-field>
  </p>  
   
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="nom de l'hotel" formControlName="nom"   name='nom' >
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field>
        <input type="number" matInput placeholder="prix" formControlName="prix"  name='prix' >
      </mat-form-field>
    </p>

    <div class="file-input " >
      <input type="file"  id="file" [(ngModel)]="currentHotel.photo" name="img"  (change)="imageselect($event)" accept=".jpg,.jpeg,.png"  class="file">
      <label for="file">
         choisire l'image
        <p class="file-name"></p>
      </label>
    </div>
    <img [src]="currentHotel.photo" style="max-height: 200px;" >
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="description" formControlName="description"  name='description' >
        </mat-form-field>
      </p> 
      <p>
          <mat-checkbox formControlName="promotion" name='promotion' [checked]="currentHotel.promotion">promotion</mat-checkbox>

    </p>
    
   
    
    <div class="button">
      <button type="submit" mat-raised-button color="primary" [mat-dialog-close]="true" (click)="openSnackBar()"  > ajouter </button>
    </div>
    
    </form>
