<h1>Formulaire d'ajout</h1>
<form  [formGroup]="ajout" (ngSubmit)="onSubmitForm()" >
    <p>
    <mat-form-field>
      <input type="text" matInput placeholder="region" formControlName="region" name='region' >
    </mat-form-field>
  </p>  
   
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="nom de l'hotel" formControlName="nom"   name='nom' >
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field>
        <input type="number" matInput placeholder="prix" formControlName="prix"  name='prix' >
      </mat-form-field>
    </p>

    <p>
        <mat-form-field>
          <input type="text" matInput placeholder="photo" formControlName="photo"  name='photo' >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="description" formControlName="description"  name='description' >
        </mat-form-field>
      </p> 
      <p>
          <mat-checkbox formControlName="promotion" name='promotion' [checked]="currentHotel.promotion">promotion</mat-checkbox>

    </p>
    
   
    
    <div class="button">
      <button type="submit" mat-raised-button color="primary" [mat-dialog-close]="true" (click)="openSnackBar()" [disabled]="ajout.invalid && ajout.touched" > ajouter </button>
    </div>
    
    </form>
