
<h1>Formulaire de reservation</h1>
<form  [formGroup]="modification" (ngSubmit)="onSubmitForm()" >
    <p>
    <mat-form-field>
      <input type="text" matInput placeholder="region" formControlName="region" name='region' [value]="modifEnCours.region" >
    </mat-form-field>
  </p>  
   
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="nom de l'hotel" formControlName="nom"   name='nom' [value]="modifEnCours.nom" >
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field>
        <input type="number" matInput placeholder="prix" formControlName="prix"  name='prix' [value]="modifEnCours.prix">
      </mat-form-field>
    </p>

  
        <!-- <mat-form-field>
          <input type="text" matInput placeholder="photo" formControlName="photo"  name='photo' [value]="modifEnCours.photo">
        </mat-form-field> -->
        <!-- <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
          <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" placeholder="photo" accept=".jpg,.jpeg,.png" formControlName="photo"  name='photo' [value]="modifEnCours.photo"> -->
          <div class="file-input " >
            <input type="file"  id="file" [(ngModel)]="modifEnCours.photo" name="img"  (change)="imageselect($event)" accept=".jpg,.jpeg,.png"  class="file">
            <label for="file">
               choisir l'image
              <p class="file-name"></p>
            </label>
          </div>
          <img [src]="modifEnCours.photo" style="max-height: 200px;" >

      
        
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="description" formControlName="description"  name='description' [value]="modifEnCours.description">
        </mat-form-field>
      </p> 
      <p>
          <mat-checkbox formControlName="promotion" name='promotion' [checked]="modifEnCours.promotion">promotion</mat-checkbox>

    </p>
    
   
    
    <div class="button">
      <button type="submit" mat-raised-button color="primary" [mat-dialog-close]="true" (click)="onSubmitForm()" > modifier </button>
    </div>
    
    </form>
